@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.header{
    font-family: 'Bebas Neue', sans-serif;
    background-color:#ffffff;
    height: 450px;
    &_bg{
        background-image: url('../../../public/town.jpg');
        background-repeat: no-repeat;
        background-attachment:scroll;
        background-position: center;
        min-width: 600px;
        height: 500px;
    }
    &_menu{
        width: 50px;
        margin: 0 auto;
    }
    &_li{
        width: 100px;
        display: flex;
        ul{
            margin:0;
            padding: 10px;
            li{
                list-style: none;
                color: #692020;
                cursor: pointer;
            }
            li:hover{
                font-size: large;
            }
        }
    }
    &_text{
        margin: 0;
        padding-top: 50px;
        padding-left: 65px;
        font-size: 46px;
        color: #692020;
        display: flex;
        justify-content: center;
    }
    .name{
        font-size: 50px;
    }
   
    &_vl{
        border-left: 4px solid #682323;
        height: 300px;
        display: flex;
        justify-content: center;
    }   
}