.main {
  background-color: transparent;
  background-image: url('../../../public/grain.avif');
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: calc(100vw);
  height: calc(100vh);
  margin: 0 auto;
  &_grain-bg {
    border-radius: 20px;
    margin-top: 40px;
    box-shadow: 0px 0px 76px 5px rgb(62, 62, 61);
  }
}
